/* CSS STYLING FOR THE HOME TAB */


.content-wrapper {
    height: 100vh;
    width: 100vw;
    background: url("../assets/images/home-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}