/* MAIN CSS */

body {
  font-family: 'Staatliches', sans-serif;
}
:root {
    /* navbar structure & font styling */
    --nav-logo-fs: 42px;
    --nav-logo-color: #ffffff;
    --nav-height: 100px;
    --nav-width: 100vw;
}

* {
    box-sizing: border-box;
}

/* nav styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--nav-width);
    height: var(--nav-height);
    position: absolute;
    z-index: 1;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0);
}

nav .logo {
    font-size: var(--nav-logo-fs);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--nav-logo-color);
}